.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  position: absolute;
  top: 0;
  right: 0;
}

.address {
  position: absolute;
  top: 30;
  right: 0;
  color: grey;
  font-size: 15px;
  padding-right: 20px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-family: arial;
  padding: 8px;

}

.balance {
  color: grey;
  font-size: 22px;
}
.account {
  color: grey;
  font-size: 15px;
}

.title{
  padding: 20px;
  text-align:center;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  text-align: center;
  margin:auto;
  left:0;
  right:0;
  top:0;
  bottom:0;
  position:fixed;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 